{% extends 'chat/base.html' %} {% load static %} 
{% block extra_style %}
<style>
  .loadingSpinnerContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0;
    background: #000000a3;
    z-index: 21000;
    display: none;
}
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #00cc66 transparent #00cc66 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
{% endblock extra_style %}
{% block chat_content %}
<div class="content" style="position:relative;">
  {{conversation.room_name}}
  <div class="contact-profile">
    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
    <p class="user-name">
      {{ conversation.id }}
      {{ conversation.id|json_script:"room-name" }}
    </p>
    <p class="useractive" id="user-active">
      {% if conversation.chat_user.online_status %}
        Online
      {% else %}
        Offline
      {% endif %}
    </p>
  </div>
  <div class="loadingSpinnerContainer">
    <div class="loadingSpinner"></div>
  </div>
  <div class="messages">
    <ul reversed class="slide"></ul>
  </div>
  <div class="message-input">
    <div class="wrap">
      {% csrf_token %}
      <input type="text" placeholder="Write your message..." name="message" />
      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
      <input type="file" class="attachment" name="" />
      <button class="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
{% endblock chat_content %} {% block extra_js %}
<!-- Room Script -->
<script type="text/javascript">
  var roomName = JSON.parse(document.getElementById("room-name").innerText);

  const messages = document.querySelector(".messages ul");
  const fileInput = document.querySelector('input[type="file"]');
  const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
  const input = document.querySelector('input[name="message"]');
  const submitButton = document.querySelector(".submit");
  const userId = '{{ request.user.id }}';
  let data, nextPage;
  const chatSocket = new WebSocket(
    `ws://${window.location.host}/ws/chat/${roomName}/`
  );

  const loadPreviousMessages = async (url = null, prepend = false) => {
    loader = document.querySelector('.loadingSpinnerContainer');
    loader.style.display = "display";
    const scrollToBottom = url ? false : true;
    url = url
      ? url
      : `${window.location.protocol}//${window.location.host}/chat/${roomName}/history/`;
    fetch(url)
      .then(async (resp) => {
        data = await resp.json();
        Object.values(data.results.reverse()).forEach((item, index, array) => {
          addMessage(item, prepend);
        });
        if (scrollToBottom)
          messages.scrollIntoView({ behavior: "smooth", block: "end" });
        nextPage = data.next;
        loader.style.display = "none";
      })
      .catch((err) => {
        console.error({ err });
        loader.style.display = "none";
      });
  };

  const addMessage = (
    { sender, timestamp, content_type, message, message_attachment },
    prepend = false
  ) => {
    const messageSentTime = new Date(timestamp);
    const formattedTime = formatTime(messageSentTime);
    const messageClass = sender === userId ? "sent" : "replies";

    const li = document.createElement("li");
    li.className = messageClass;
    formattedDate = formatDate(timestamp);
    formattedDateTime = formatDateTime(timestamp);
    switch (content_type) {
      case "text":
        li.innerHTML = `
            <p>
            ${message}
            <span class="msg-timer">${formattedDateTime}</span>
            </p>
        `;
        break;
      default:
        const attachment = message_attachment;
        const attachmentElement = attachment.media_type.includes("image")
          ? `
            <div class="chat">
              <a  href=${attachment.file_url} target="_blank" style="cursor:unset;">
                <img src="${attachment.file_url}" alt="${attachment.title}" class="sentimg">
                <p class="repliesattachment">${formattedDateTime}</p>
              </a>
            </div>
            `
          : `
          <div class="document">
            <div class="documendata">
              <div class="filename">
                <i class="fa fa-file" aria-hidden="true"></i>
                <h6 class="file">
                  ${attachment.title}
                  <br />
                  <p class="filedata">${attachment.media_type}</p>
                </h6>
              </div>
              <a class="download" href=${attachment.file_path} target="_blank">
                <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
              </a>
            </div>
            <p class="repliesattachment">${formattedDateTime}</p>
          </div>
            `
          ;

        li.innerHTML = attachmentElement;
    }

    prepend ? messages.prepend(li) : messages.appendChild(li);
  };

  fileInput.addEventListener('change', async (event) => {
    const file = event.target.files[0];
    const formData = new FormData();
    formData.append('file_path', file);
    formData.append('title', file.name);
    formData.append('media_type', file.type);
    try {
      const response = await fetch(`/chat/${roomName}/attachment/`, {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken,
        },
        body: formData,
      });
  
      if (response.ok) {
        const res = await response.json();
        timestamp = new Date().toISOString();
        const item = {
          sender: userId,
          message: '',
          timestamp: timestamp,
          content_type: 'attachment',
          message_attachment: {
            id: res.id,
            title: res.title,
            media_type: res.media_type,
            file_url: res.file_url,
          },
        };
        addMessage(item);
      chatSocket.send(JSON.stringify(item));
      } else {
        console.error(await response.json())
      }
    } catch (error) {
      console.error(error);
    }
  });

  const handleIncomingMessage = (data) => {
    if (data.source === chatSocket || !data) {
      return;
    }
    if(data.error){
      console.error(data.error)
    }else{
      addMessage(data);
      const { scrollHeight, clientHeight } = messages;
      if (scrollHeight > clientHeight) {
        messages.scrollTop = scrollHeight - clientHeight;
      }
    }
  };

  messages.addEventListener("scroll", async () => {
    if (messages.scrollTop === 0 && nextPage != null) {
      await loadPreviousMessages(nextPage, true);
      data = null;
    }
  });

  const sendMessage = () => {
    const message = input.value.trim();
    if (!message) {
      return;
    }
    timestamp = new Date().toISOString();
    const item = {
      message: message,
      sender: userId,
      timestamp: timestamp,
      content_type: "text",
    };
    addMessage(item);
    input.value = "";
    const { scrollHeight, clientHeight } = messages;
    if (scrollHeight > clientHeight) {
      messages.scrollTop = scrollHeight - clientHeight;
    }
    chatSocket.send(JSON.stringify(item));
  };

  const handleKeyPress = (event) => {
    if (event.key === "Enter") {
      sendMessage();
    }
  };
  
  const setupSubmitButton = () => {
    submitButton.addEventListener('click', sendMessage);
  };

  const setupWebSocket = () => {
    chatSocket.onmessage = (event) => {
      handleIncomingMessage(JSON.parse(event.data));
    };
  };
  
  const setupEventListeners = () => {
    input.addEventListener('keypress', handleKeyPress);
    setupSubmitButton();
  };
  const init = () => {
    loadPreviousMessages();
    setupWebSocket();
    setupEventListeners();
  };

  init();
</script>

{% endblock extra_js %}
