{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{Page_title}}</title>
    <style type="text/css">.set_display_none{display: none;}</style>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div style="width: 800px; margin: auto; background: #fff; border: 1px solid #ccc; font-family: 'Nunito'; box-sizing: border-box; font-weight: 400; line-height: 1.5;">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
        <tbody>
          <tr>
            <td valign="top" style="padding: 5px 15px;">
                <img src="{{LOGO}}" style="width:200px; margin: 0px; background: #fff; padding:2px 5px; text-align: center; color: #000; text-transform: uppercase; ">
              <p style=" text-align: right; line-height: 15px; font-weight: 400;">
                <b style="margin-top:-500px;text-transform: uppercase; font-size:16px">INVOICE</b><br>
                {% comment %} <b>Invoice Number</b>:- <b>{{invoice_data.invoice_id}}</b> <br> {% endcomment %}
                <b>Invoice Date</b>:- {{invoice_date}}
              </p>
              <p style=" text-align: left; line-height: 15px; font-weight: 400;">
                <b style="margin-top:-500px;text-transform: uppercase; font-size:16px">Bill To</b><br>
                {% if last_invoice.user.name %}
                <b>Client Name</b>: {{last_invoice.user.name}} <br>
                {% endif %}
                {% if mobile_number %}
                <b>Mobile Number</b>: {{mobile_number}} <br>
                {% endif %}
                <b>Email</b>: {{last_invoice.user.email}} <br>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" style=" border-collapse: collapse; width: 100%;">
                <tbody>
                  <tr>
                    <th align="left" style="margin: 0px;width: 200px;background: #fff;padding:2px 15px;text-align: center;color: #000;">Date</th>
                    <th align="left" style="margin: 0px;width: 180px;background: #fff;padding:2px 15px;text-align: center;color: #000;">Invoice No.</th>
                    <th align="left" style="margin: 0px;width: 150px;background: #fff;padding:2px 15px;text-align: center;color: #000;">ID#</th>
                    <th align="left" style="margin: 0px;width: 340px;background: #fff;padding:2px 15px;text-align: center;color: #000;">Title</th>
                    <th align="right" style="margin: 0px; width: 180px;background: #fff;padding:2px 15px;text-align: center;color: #000;">Amount</th>
                  </tr>
                  {% if invoice_data %}
                  {% for get_invoice_data in invoice_data%}
                      <tr>   
                        <td align="left" style="padding:2px 15px;font-weight: 400;">{{get_invoice_data.created.date}}</td>
                        <td align="left" style="padding:2px 15px;font-weight: 400;">{{get_invoice_data.invoice_id}}</td>
                        <td align="left" style="padding:2px 15px;font-weight: 400;">{% if get_invoice_data.job %}{{get_invoice_data.job.job_id}}{% else %}N/A{% endif %}</td>
                        <td align="left" style="padding:2px 15px;font-weight: 400;">{% if get_invoice_data.job %}{{get_invoice_data.job.title}}{% else %}N/A{% endif %}</td>
                        <td align="right" style="padding:2px 15px;font-weight: 400;">${{get_invoice_data.total}}</td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    <tr>
                      <td colspan="3" style=" padding:2px 10px; font-weight: 400; ">
                        <span style="color: #000">
                          <br>
                          <br>
                          Please deposit to through <strong>IBS</strong><br>
                          Bank Name: <strong>IBS Bank</strong><br>
                          Account Name: <strong>Koor Tech</strong><br>
                          Account Number: <strong>0160412301840010</strong><br>
                          IBAN Number: <strong>SO930004004016041200001</strong><br>
                          
                        </span>
                      </td>
                      <td  colspan="1"  align="right" valign="top" style=" padding:2px 15px; font-weight: 400;  line-height: 28px; text-transform: uppercase; color: #000; background: #fff; ">
                        <span style="color: #000">
                          Amount:<br>
                          {% comment %} Discount:<br> {% endcomment %}
                          <strong>Total Amount:</strong><br>
                        </span>
                      </td>
                      <td  colspan="1"  align="right" valign="top" style=" padding:2px 15px; font-weight: 400;  line-height: 28px; text-transform: uppercase; color: #000; background: #fff; ">
                      {% comment %} <td align="right" valign="top" style=" padding:2px 10px; font-weight: 400; border-top: 1px solid #ccc; color: #000; background: #fff; line-height: 28px; "> {% endcomment %}
                        ${{amount}}<br>
                        {% comment %} -${{discount}}<br> {% endcomment %}
                        <strong>${{grand_total}}</strong>
                      </td>
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr style="text-align: center">
                    <td valign="top" style="padding: 5px 15px; text-align: center">
                      <img src="{{stamp}}" style="width:200px; margin: 0px; background: #fff; padding:2px 5px; text-align: center; color: #000; text-transform: uppercase; ">
                    </td>
                    <td valign="top" style="padding: 5px 15px; text-align: center">
                        <p style=" text-align: center; line-height: 15px; font-weight: 400;">
                            <b style="margin-top:-500px;text-transform: uppercase; font-size:16px">Thank you for using Koor!</b>
                        </p>
                    </td>
                    <td valign="top" style="padding: 5px 15px; text-align: center">
                      <img src="{{sign}}" style="width:200px; margin: 0px; background: #fff; padding:2px 5px; text-align: center; color: #000; text-transform: uppercase; ">
                    </td>
                  </tr>               
                    <tr>
                      <td valign="top" style="padding: 5px 15px;" colspan="2">

                        <p style=" text-align: left; line-height: 15px; font-weight: 400;">
                          <b style="margin-top:-500px;text-transform: uppercase; font-size:16px">koorjobs.com</b><br>
                          <b>admin@koorjobs.com <br>
                          +25261611459000 or +25261611450002<br>
                          Trepiano, Maka Almukarma road, Mogadishu<br>
                          - Somalia.<br>
                        </p>
                      </td>
                      <td valign="top" style="padding: 5px 6px 0 0;">
                        <p style=" text-align: left; line-height: 15px; font-weight: 400;"><br><br>
                        </p>
                        <p style=" text-align: right; line-height: 15px; font-weight: 400; font-size:16px;">
                        {% if invoice_x %}
                        <img src="{{invoice_x}}" style="margin: 0px; height:15px; width:15px; background: #fff; padding:15px 15px; text-align: center; color: #000; text-transform: uppercase; ">
                      {% endif %}
                      {% if invoice_youtube %}
                        <img src="{{invoice_youtube}}" style="margin: 0px; width:15px; height:15px; background: #fff; padding:15px 15px; text-align: center; color: #000; text-transform: uppercase; ">
                      {% endif %}
                      {% if invoice_instagram %}
                        <img src="{{invoice_instagram}}" style="margin: 0px; height:15px; width:15px; background: #fff; padding:15px 15px; text-align: center; color: #000; text-transform: uppercase; ">
                      {% endif %}
                      {% if invoice_linkedin %}
                        <img src="{{invoice_linkedin}}" style="margin: 0px; height:15px; width:15px; background: #fff; padding:15px 15px; text-align: center; color: #000; text-transform: uppercase; ">
                      {% endif %}
                      {% if invoice_facebook %}
                        <img src="{{invoice_facebook}}" style="margin: 0px; height:15px; width:15px; background: #fff; padding:15px 15px; text-align: center; color: #000; text-transform: uppercase; ">
                      {% endif %}
                          <b>@koorjobs</b><br>
                        </p>
                      </td>
                    </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>